<div class="app p-4 container-fluid">
  <div class="row">
    <div class="col col-md-4 offset-md-4">
      <div class="text-center">
        <app-card [user] = "user" *ngIf = "user else loaderBlock"></app-card>
        <div (click) = "getApi()"class="my-3" *ngIf = "user">
          <button class="btn btn-danger"> <fa-icon [icon]="faRotate"></fa-icon> Reload </button>
        </div>
        <ng-template #loaderBlock>
          <div class="spinner-border spinner-grow-mg text-white">

          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>